.index-banner,.banner-inner{width:100%;height:600px;overflow:hidden}
.banner-inner li,.banner-inner li a{width:100%;height:100%;display:inline-block}


.edslider{position:relative;margin:auto;background:#fff;height: 100%;}
.edslider ul{list-style:none;position:relative;padding:0;margin:0}
.edslider>ul{background:#fff;width:100%;height:100%;display:block;overflow:hidden;text-align:center;}
.edslider>ul:after{
    content:"";
    color:#fff;
    font-size:100px;
    line-height:400px;
    letter-spacing:20px;
    filter: alpha(opacity=10);
    -moz-opacity: 0.1;
    opacity: 0.1;
}
.edslider>ul li{background:#fff;display:none;width:100%;height:200px;position:absolute;top:0;left:0;z-index:0}
.edslider a{display:block;position:absolute;top:0;left:0;z-index:0}
.edslider a img{border:0}
.edslider .current{z-index:1!important}
.edslider .controls{
    width:100%;height:100%;
    position: absolute;
    top:0;
    }
.edslider .controls .navigator{background:rgba(0,0,0,.3);background-image:url(../img/sprite-navigator.png);cursor:pointer;display:block;
    width:40px;height:70px;position:absolute;overflow:hidden;
    top:50%;margin-top:-25px;transition: .2s; opacity: 0;}
.edslider:hover .navigator{ opacity: 1;}
.edslider .controls .next{background-position:0 0;right:0;z-index: 2;}
.edslider .controls .prev{background-position:0 -70px;left:0;z-index: 2;}
.edslider .controls .next:hover,.edslider .controls .prev:hover{
    background-color:rgba(0,0,0,.6)}
.edslider .controls .paginator{ position: absolute;
    text-align: center;
    bottom:0rem;
    width: 100%;
z-index: 2;}
.edslider .controls .paginator li{background:rgba(255,255,255,.6);
    box-sizing:border-box;display:inline-block;
    margin:0 3px;
    width:7px;
    height:7px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    background-position:-14px 0;cursor:pointer;
    transition:background .1s;background-position:-213px 0}
.edslider .controls .paginator li.current{
    background:#fff;
    width:30px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}
.edslider .controls .paginator li:hover{
    background:#fff;
}
.edslider .progress{background:rgba(41,206,150,.5)}
.edslider .progress{position:absolute;top:0;height:3px;z-index:2}

@media screen and (max-width:1024px){
    .index-banner, .banner-inner{height: 20rem;}
    .edslider>ul:after{line-height: 20rem;}
    .edslider .controls .navigator{width: 2.8rem;height: 2.8rem;}
    .edslider .controls .paginator{bottom: 0.2rem;}
    .edslider .controls .next{background-position: 0 -3px;}
    .edslider .controls .prev {
    background-position: 0 -52px;}
}
@media screen and (max-width:766px){
    .index-banner, .banner-inner{
        height: 16rem;
    }
    .edslider>ul:after{line-height: 16rem;}
}
@media screen and (max-width:560px){
    .edslider>ul:after{line-height: 12rem;}
    .edslider .controls .navigator{background-size: 88%;}
    .edslider .controls .navigator{width: 2.4rem;height: 2.4rem;}
    .edslider .controls .paginator{bottom: 0rem;}
    .edslider .controls .next{background-position: 2px 2px;}
    .edslider .controls .prev {background-position: 2px -31px;}

}
@media screen and (max-width:414px){
    .index-banner, .banner-inner{height: 9rem;}
    .edslider>ul:after{line-height: 11rem;}}
